.App {
  text-align: center;
}

body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  color: #666;
}

.nav-container {
  margin: 0;
  height: 7vh;
  background-color: #282e34;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container {
  margin: 0;
  height: 93vh;
  background-image: url('./images/aquarium.jpg');
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pimg2 {
  background-image: url('./images/bubbles.jpg');
  min-height: 400px;
}

.pimg3 {
  background-image: url('./images/jelly3.jpg');
  min-height: 700px;
}

.pimg4 {
  background-image: url('./images/brain.jpg');
  min-height: 100vh;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.banner-container, .pimg2, .pimg3, .pimg4 {
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
  filter: drop-shadow(5px 5px 5px #111) contrast(85%);
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.border {
  border-radius: 5px;
}