.App {
  text-align: center;
}

.nav-container {
  margin: 0;
  height: 7vh;
  background-color: purple;
  color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container {
  margin: 0;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
